{% extends 'base.html' %}

{% block head %}
  <script src='dist/vendor.bundle.js'></script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12" id="main"></div>
</div>

<script>
  	var d = {};
  	var categories = {{ categories | safe }};
	var metrics = {{ metrics | safe }};
	function load_data(metric, category, data) {
		if (category) {
			d[(metric,category)] = data;
		} else {
			d[metric] = data;
		}
  	}
</script>
{% for filename in filenames %}
<script src='{{ filename }}?callback=load_data'></script>
{% endfor %}
<script src='dist/bundle.js'></script>
{% endblock %}
