{% extends 'base.html' %}

{% block head %}
  <script src='dist/vendor.bundle.js'></script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12" id="main"></div>
</div>

<script>
  	var d = [];
  	var categories = {{ categories | safe }};
	var metrics = {{ metrics | safe }};
	var filenames = {{ filenames | safe }};
	metrics.forEach(function(m) {
		if (categories.length === 0) {
			var filename = "metric-".concat(m, ".jsonp");
		} else {
			categories.forEach(function(c) {
				var filename = m.concat("-", c, ".jsonp");
				load_data(m, c, filename);
			});
		}
	});
  	function load_data(metricName, categoryName, fileName) {
    	d.push({
      		metric: metricName,
      		category: categoryName,
      		data: fileName,
    	});
  	}
</script>

<script src='dist/bundle.js'></script>
{% endblock %}
