{% extends 'base.html' %}

{% block head %}
  <script src='dist/vendor.bundle.js'></script>
{% endblock %}

{% block content %}

<div class="container-fluid" id="main">
  <h2>CSV Files</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{{metrics|length}} Metrics Calculated</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in metrics %}
      <tr>
        <th scope="row">
        	<a href='metrics/metric-{{ metric }}.csv'>{{ metric }}</a>
        </th>
        <td id="kw-all-h"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src='dist/bundle.js'></script>
{% endblock %}
